<div class="main">
    <div class="container-hashtags shadow p-3 mb-5 bg-white rounded">
        <div class="hashtags m-6">
            <mat-chip-list >
                    <mat-chip *ngFor="let h of hashtags"    (click)="toggleHashtag(h)">{{h.hashtag}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="container-tweets">
        
    <ngx-masonry class="tweets" [options]="myOptions" >
        <div ngxMasonryItem class="masonry-item m-6 " *ngFor="let t of tweets" ngxMasonryItem>
            <app-tweet-card  [tweet]="t"></app-tweet-card>
        </div>
    </ngx-masonry>
    </div>
</div>
<router-outlet></router-outlet>