.masonry-item { width: 350px; }
.m6 {margin: 6px;}
.main {
    background-color: #efefef;
}   
.container-tweets {
    display: table;
    width: 100%;
  }
.tweets {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container-hashtags {
      background-color: white;
      display: table;
      width: 100%;
  }
  @media screen and (max-width: 600px) {
    .button-search {
        min-width: 90%!important;
        margin: auto;
        margin-bottom: 6px!important;
    }
    .tweets{
        min-width: 100%;
    }
    .mat-chip-active {
        min-width: 100%;
    }
    .hashtags {
        min-width: 100%;
    }
    .mat-chip-inactive {
        min-width: 100%;
    }
    .masonry-item {
        min-width: calc(100%-1px);
    }
}
  .hashtags {
    display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
  
.mat-chip-active {
    background-color: #00acee!important;
    color: white!important;
    cursor: pointer!important;
}
.mat-chip-inactive {
    background-color: #c4c4c4!important;
    color: black!important;
    cursor: pointer!important;
}
#svgSearch
{
  margin: auto auto;
  display: block;
  height: 30%;
}
::ng-deep .mat-chip-list-wrapper {
    justify-content: center!important;
}
.button-search {
    margin-right: 0;
    margin-left: auto;
    min-width: 200px;
    font-weight: 700;
}
#btnSearch.btn-primary {
    background-color: #00acee!important;
    border-color: #00acee!important;
}
.wrapper-load {
    position: relative;
    top:100%;
    text-align: center;
    padding: 18px;
}
.button-load {
    display: inline-block;
    
}