.title {
    font-weight: 800;
    font-size: 18px;
    color: #333;

}
.time {
    font-weight: 400;
    font-size: 18px;
    color: #333;
}
.header {
    background-color: #ecf0f1;
    padding: 18px;
}