.masonry-item { width: 250px; }
.m-6 {margin: 6px;}

.button-search {
    min-width: 200px;
    background-color: #ffffff!important;
	border-color: #bcbebf!important;
    color: #333;
	border-radius: 50px;
	box-shadow: 2px 2px 5px #d2d2d2;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: -40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}
.button-search:hover {
    background-color: #00acee!important;
	border-color: #bcbebf!important;
    color: white;
}
.container-tweets {
    display: table;
    width: 100%;
  }
.tweets {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container-hashtags {
      background-color: white;
      display: table;
      width: 100%;
  }

  .hashtags {
    display: block;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
  
.mat-chip-active {
    background-color: #00acee!important;
    font-weight: 100;
    color: white!important;
    cursor: pointer!important;
}
.mat-chip-inactive {
    font-weight: 100;
    background-color: #c4c4c4!important;
    color: black!important;
    cursor: pointer!important;
}
::ng-deep .mat-chip-list-wrapper {
    justify-content: center!important;
}








#btnSearch.btn-primary {
    background-color: #00acee!important;
    border-color: #00acee!important;
}
.wrapper-load {
    position: relative;
    top:100%;
    text-align: center;
    padding: 18px;
}
.button-load {
    display: inline-block;
    
}

@media screen and (max-width: 600px) {
    .button-search {
        min-width: 80%!important;
    }
    .tweets{
        min-width: 90%;
    }
    .mat-chip-active {
        min-width: 100%;
    }
    .hashtags {
        min-width: 100%;
    }
    .mat-chip-inactive {
        min-width: 100%;
    }
    .masonry-item {
        min-width: calc(100vh-12px);
    }
}