<div class="py-1">
    <div class="px-2">
        <mat-label>Visualizza</mat-label>   
        <span style="float: right;"><a routerLink="/wcf-tweets">Visualizza tutto</a></span>
        <mat-select [(value)]="selectedOrder" name="selectOrder" (selectionChange)="orderChanged($event)">
            <mat-option *ngFor="let sentiment of orderSentiments" Selected [value]="sentiment">
                {{sentiment}}
            </mat-option>
        </mat-select>
    </div>
        <div *ngFor="let tweet of tweets" class="my-1 mx-auto">
            <app-tweet-card [tweet]="tweet" style="margin: auto auto;"></app-tweet-card>
        </div>
</div>

<ng4-loading-spinner> </ng4-loading-spinner>