<circle-progress
  [radius]="40"
  [outerStrokeWidth]="6"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="activeColor.outerStrokeColor"
  [innerStrokeColor]="activeColor.innerStrokeColor"
  [animation]="true"
  [showTitle]="true"
  [showUnits]="true"
  [showSubtitle]="true"
  [percent]="normalizedPercent"
  [title]="normalizedPercent"
  [subtitle]="label"
  [backgroundPadding]="0"
  [responsive]="true"
  [animateTitle]="true"
  [animationSubtitle]="true"
  [startFromZero]="false"
  [animationDuration]="250"
></circle-progress>